.example-form {
    min-width: 900px;
    max-width: 900px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  mat-card-header{
    display: flex;
    justify-content: center;
    font-weight: 500;
  }
  mat-card-header h1{
    font-weight: 500;
    font-size: 28px;
  }